# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build_64/

build/

dats/

dlib.egg-info/

dist/

trainingDatas/

python_examples/26\.mp4

\.vs/

python_examples/\.idea/

python_examples/result\.log

testDatas/videos/

testResults/
